.navbar{
    background-color: #572d08;
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem 26rem;
}
.navbar{
    color:aliceblue;
    text-align: center;
    justify-content: center;
    display: flex;
    
}
.nav-links1{
    color: rgb(200, 219, 94);
    float:left;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    text-align: center;
    margin-left: 0.8rem;
   
}
.centerimg{
    width: 400px;
    height: 300px;
    margin-left: 220px;
}
.AddButton {

    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(153, 90, 31);
    border-radius: 15px;
    padding: 10px;
    margin-left: 550px;
    color:rgb(18, 17, 15)
    

}
.button1{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(153, 90, 31);
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    color:rgb(18, 17, 15)
}
